
/* styling mainpage.html */
.play{
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 2.5em 7em;
  border-color: transparent transparent transparent blue;
  opacity: .75;
}

.play:hover{
  border-color: transparent transparent transparent lightblue;
}

#main1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*styling for genrelist.html*/

#header1{
    height: 100px;
    background: aqua; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(aqua, blue);
}

.genreList {
    list-style-type: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282828;
}

.genreList li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 21px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    border-right: 1px solid #bbb;
}

.genreList li:hover {
    background-color: #8000ff;
    transition: 0.8s;
}
