<!DOCTYPE html>
<html ng-app='radioApp'>

<head>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src='/js/radioApp.js'></script>
  <script src='/js/radioFactory.js'></script>
  <script src='/js/radioController.js'></script>
  <link href="../css/main.css" rel="stylesheet"/>
  <title>Genrelist</title>
</head>

<body id="main2" ng-controller='radioController as rCtrl'>

    <div id="header1"></div>
    <div id="heading1">Radio<span>FM</span></div>

    <ul class="genreList">
        <li ng-repeat="genre in rCtrl.genres track by $index" ng-click="rCtrl.setCurrentGenre(genre)">{{genre}}</li>
    </ul>

    <!-- If block -->
    <div  ng-if="rCtrl.genreradios.length > 0">
    <!-- Control for showing player -->
       <div class="activeUrl" ng-controller='radioPlayerController as rPCtrl'>
         <audio controls autoplay data-ng-src="{{rPCtrl.getAudioUrl()}}" ></audio>
       </div>
     </div>

     <!-- If block -->
     <div  class="comingSoon" ng-if="rCtrl.genreradios.length == 0">
          <h2>{{rCtrl.getCurrentGenre()}} Coming soon!!</h2>
      </div>


    <ol class="urllist">
        <li ng-repeat="radio in rCtrl.genreradios track by $index" ng-click="rCtrl.setCurrentRadio(radio, $index, rCtrl.genreradios.length)">{{rCtrl.getCurrentGenre()}} {{$index+1}} {{rCtrl.getPlayStatus($index)}} </li>
    </ol>

    <div id="footer1"></div>
  </body>

</html>
