<!DOCTYPE html>
<html ng-app='radioApp'>

<head>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src='/js/radioApp.js'></script>
  <script src='/js/radioFactory.js'></script>
  <script src='/js/radioController.js'></script>

  <title>Radio Station!</title>
</head>

<body ng-controller='radioController as rCntl'>
    <h1>{{rCntl.title}}</h1>

    <!-- Control for showing single station -->
    <form ng-submit='rCntl.getstation($event)'>
        <button type='Get Station'>Get Station</button>
    </form>

    <!-- Control for showing all stations -->
    <form ng-submit='rCntl.getallstations($event)'>
        <button type='Get All Stations'>Get All Stations</button>
    </form>

    <ul>
        <li ng-repeat="radio in rCntl.allradios" ng-click="rCntl.setCurrentRadio(radio)">{{radio}}</li>
    </ul>

    <!-- Control for showing all genre -->
    <form ng-submit='rCntl.getallgenres($event)'>
        <button type='Get All Genres'>Get All Genre</button>
    </form>

    <ul>
        <li ng-repeat="genre in rCntl.genres track by $index" ng-click="rCntl.setCurrentGenre(genre)">{{genre}}</li>
    </ul>

    <ul>
        <li ng-repeat="radio in rCntl.genreradios" ng-click="rCntl.setCurrentRadio(radio)">{{radio}}</li>
    </ul>


    <!-- Control for showing player -->
     <div ng-controller='radioPlayerController as rCntl'>
       <audio controls data-ng-src="{{rCntl.getAudioUrl()}}" ></audio>
     </div>


     <!-- <div ng-controller='radioPlayerController as rCntl'>
       <audio controls data-ng-src="{{rCntl.getAudioUrls()}}" ></audio>
     </div> -->

</body>

</html>
